<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>

<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>

<link rel="stylesheet" href="../static/css/filter.css"
	th:href="@{/static/css/filter.css}"></link>

<link rel="stylesheet" href="../static/css/style.css"
	th:href="@{/static/css/style.css}"></link>

</head>

<body>
	<!-- Navbar -->
	<nav class="navbar navbar-default bg_blue">
		<div class="container">
			<div class="navbar-header">
				<form th:action="@{/logout}" th:method="post" class="form-inline">
					<button class="btn btn-secondary">Logout</button>
				</form>

			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li sec:authorize="hasRole('ROLE_ADMIN')"><a
						th:href="@{/create}" class="white_text">Create</a></li>
					<li><a th:href="@{/filter}" class="white_text">DND</a></li>
					<li><a href="@{/update}" class="white_text">Refresh</a></li>
					<li><a th:href="@{/filter}" class="white_text">Hello <span
							sec:authentication="name">Hello Admin 7</span></a></li>
				</ul>

			</div>
		</div>
	</nav>

	<div class="boxs"></div>
	<div class="container well">

		<form th:action="@{/refresh}" th:method="post"
			enctype="multipart/form-data" th:object="${filterUO}">
			<input type="file" th:field="*{file}" size="50"></input>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>

	</div>

</body>

</html>